#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID       "Your_WiFi_SSID"
#define WIFI_PASSWORD   "Your_WiFi_Password"

#define MQTT_HOST       "192.168.1.100"
#define MQTT_PORT       1883
#define MQTT_USERNAME   "Your_MQTT_Username"
#define MQTT_PASSWORD   "Your_MQTT_Password"

#endif
